@use 'variables' as vars;

mat-sidenav-container {
  height: 100%;

  mat-sidenav-content {

    .logo {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1024px) {
  mat-sidenav-container {
    display: none;
  }
}